/* Add Location Button */
#filter_div {
	border-radius: 6px;
   	font: 0.9em verdana;
	position: absolute;
	left: 30%;
	top: 30%;
    z-index: 10000;
    visibility: hidden;
	text-align: left;
	padding: 3em 7em 5em 7em;
	border: 2px solid $greyLight;
	color: $primaryColor;
	background-color: $white;
	}
#filter_div a {
	color: $secondColor;
	}
#filter_div_underlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 200%;
    height: 200%;
	border: 0;
	padding: 0;
	margin: 0;
  	z-index: 9999;
    visibility: hidden;
	background-color: $white;
	opacity: 0.70; 
 	filter:alpha(opacity = 70); 
	}
/* pop up div */

/* X circle close */
.close_overlay {
	line-height: 200%; /* adjusts "x" height */
	float: right;
	cursor: pointer;
	font-weight: bold;
	color: $white;
	width: 2.1em;
	height: 2em;
	background-color: $primaryColor;
	@include round(1em);
}
.close_overlay:active, .close_overlay:link, .close_overlay:visited { color: $white; }
.close_overlay:hover {
	background-color: $secondColor;
	color: $white;
}