/* Buttons */
.primaryButton {
	margin: 0 0.5em 0 1.5em;
	font-weight: 900;
	font-size: 150%;
	color: $secondColor;
}
.primaryButton span {
	font-size: 90%;
	font-weight: normal;
	margin-left: 0.5em;
	font-weight: 400;
	font-family: 'Catamaran', sans-serif;
	color: $white;
}
.primaryButton:active, .primaryButton:visited, .primaryButton:link, .primaryButton span:hover { color: $secondColor; }
/* BootStrap Button */
.BSButton {
	margin: -10px 0 0 1.5em;
	color: $secondColor;
}
.BSButton span {
	margin-left: 0.5em;
	font-size: 130%;
	font-weight: 400;
	font-family: 'Catamaran', sans-serif;
	color: $white;
}
.BSButton:active, .BSButton:visited, .BSButton:link, .BSButton span:hover { color: $secondColor; }

