/* Buttons */
.primaryButton {
	background-color: $primaryColor;
	border: $primaryDark solid 1px;
	border-radius: 8px;
	padding: .1em .55em;
	margin: 0 .5em;
	font-weight: 900;
	font-size: 150%;
	color: $white;
}
.primaryButton:active, .primaryButton:visited, .primaryButton:link { color: $white; }
.primaryButton:hover { background-color: $secondColor; 	border: $primaryColor solid 1px; color: $white; }
/* BootStrap Button */
.BSButton {
	background-color: $primaryColor;
	border: $primaryDark solid 1px;
	border-radius: 8px;
	padding: .8em .8em .65em .8em;
	margin: -10px .5em 0 .5em;
	color: $white;
}
.BSButton:active, .BSButton:visited, .BSButton:link { color: $white; }
.BSButton:hover { background-color: $secondColor; 	border: $primaryColor solid 1px; color: $white; }
