/* Buttons */
.primaryButton {
	font-weight: bold;
	font-size: 135%;
	color: $white;
	background-color: $secondColor;
	border: 1px solid $secondColor;
	margin: 0.7em 0;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}
.primaryButton span {
	font-weight: 300;
	font-size: 80%;
	font-family: 'Catamaran', sans-serif;
}
.primaryButton:active, .primaryButton:visited, .primaryButton:link { background-color: $secondColor; }
.primaryButton:hover { background-color: $primaryColor; border: 1px solid $primaryColor; }

/* BootStrap Icon Link */
.BSButton {
	margin: -10px 1.5em 0 0;
	padding: 1.5em; /* must match hover padding */
	color: $white;
}
.BSButton span {
	margin-left: 0.5em;
	font-size: 100%;
	font-weight: 300;
	font-family: 'Catamaran', sans-serif;
	color: $white;
}
.BSButton:active, .BSButton:visited, .BSButton:link { color: $secondColor; }
.BSButton:hover { background-color: rgba(0, 0, 0, 0.1); padding: 1.5em; }

