/* Login Styles */
#standalone {   
	padding: 2em 4em;      
	width: 70%;
	height: 100%;
	margin: 2em auto;  
	position: relative; /* needed to allow header and options to use z-index and be on top */
} 
.standalone_login {
	padding: 4em;      
	width: 30%;
	margin: 1em auto;  
	position: relative; /* needed to allow header and options to use z-index and be on top */
} 
.standalone_logo {
	border: 0px solid black;
	font-weight: bold;
	margin: 0 0 2em 1.5em;	
	background: url('../images/logo_script.png') no-repeat;
	width: 278px;
	height: 50px;
}