/* Header Nav Bar */
.headerNav {
	background-color: rgba(0, 0, 0, 0.7);
	color: $white;
	padding: 1em 0;
	min-height: 3em; 	
	position: fixed;
	top: 0px;
    left: 0px;
    width: 100%;
	z-index: 500;
}
#headerLinks {
	display: inline-block;
	float: right;
}
#headerLogo {
	display: inline-block;
}
.headerLogo {
	opacity: 0; /* hide logo in nav will scroll */
}
/* Scroll Classes */
.headerLogoScroll { /* called with navScroll.js */
	opacity: 0;
	@extend .logo;
	font-size: 200%;
}

