/* CSS for Remote Loc */

/* Colors */
$primaryColor: #117B9E;
$secondColor: #38C4F2; 
$primaryDark: #117596;
$white: #ffffff;
$greyLight: #f5f5f5;
$greyPrimary: #777777;

body { 
	color: $greyPrimary; 
	font-weight: 400;
	font-family: 'Catamaran', sans-serif;
}
html { overflow-y: scroll; }

a:active, a:link, a:visited { color: $primaryColor; text-decoration: none; } 
a:hover {  color: $secondColor; text-decoration: none; }

h2 { color: $primaryColor; }

@mixin round($size) {
  -webkit-border-top-left-radius: $size;
  -webkit-border-top-right-radius: $size;
  -webkit-border-bottom-right-radius: $size;
  -webkit-border-bottom-left-radius: $size;
  -moz-border-radius-topleft: $size;
  -moz-border-radius-topright: $size;
  -moz-border-radius-bottomright: $size;
  -moz-border-radius-bottomleft: $size;
  border-top-left-radius: $size;
  border-top-right-radius: $size;
  border-bottom-right-radius: $size;
  border-bottom-left-radius: $size;
}

@import 'buttons';

.logo {
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 350%;
	color: $white;
}
.ct_section_bg {
	background-color: $secondColor;
}

@import 'nav';
@import 'login';
@import 'addLoc';

/* Listings */
.listingH1 {
	font-weight: bold;
	color: $primaryColor;
	background-color: $greyLight;
}
.container_listings {
	border: 1px solid $greyLight; 
	margin-bottom: 1em;
}
/* footer */
.heart { color: $primaryColor; }